


  #left-nav ul {
    height: 100vh;
  }
  #left-nav {
    background-color: #525f7f;

  }
  
  #left-nav ul .list-group-item {
    background-color: transparent !important;
    border: none;
  }
  #left-nav ul .list-group-item {
    color: white;
  }
  .brand{
    color: white;
  }

  .nav1{
     background-color:#32325d; 
  }
 .formbox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
  }
.formbox1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}


.paddingtop{
    padding-top: 25px;
}
.paddingtop1{
    padding-top: 20px;
}
  .shape{
    
    background-color: #00eaff;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    float: left;
    
    border: 5px solid #fff;
}
 .image{
     height:60px;
     width: 60px;
 }
 .imageSpan{
     padding-top: 20px;
     padding-left: 10px; 
 }
 .profilepic{
     padding-left: 10px;
     color: white;
 }
 .paddingTop{
     margin-top: 30px;
 }
 fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }